@import "./reset.scss";
@import "./theme.scss";

* {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--scroll-thumb-color);

    &:hover {
      background-color: var(--scroll-thumb-color-hover);
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--scroll-track-color);
  }
}

body {
  overflow: hidden;

  word-break: break-all;

  font: 14px/1 HarmonyOS;
}
