body {
	--scroll-thumb-color: #c0c0c0;
	--scroll-thumb-color-hover: #a7a7a7;
	--scroll-track-color: #f1f1f1;
	// #ea7b99
	// #4eabe6
	// #ffb027
	--keyword-color: #ffb027;
}

body[theme-mode="dark"] {
	--scroll-thumb-color: #686868;
	--scroll-thumb-color-hover: #7a7a7a;
	--scroll-track-color: #444;
}
